[Unit]
Description = User Service
[Service]
User=roboshop
Environment=REDIS_HOST=redis-{{ENV}}.sirizs01.ml
Environment=MONGO_URL="mongodb://mongodb-{{ENV}}.sirizs01.ml:27017/users"
ExecStart=/bin/node --no-warnings /home/roboshop/user/server.js
SyslogIdentifier=user

[Install]
WantedBy=multi-user.target