[Unit]
Description=Shipping Service

[Service]
User=roboshop
Environment=CART_ENDPOINT=cart-{{ENV}}.sirizs01.ml:8080
Environment=DB_HOST=mysql-{{ENV}}.sirizs01.ml
ExecStart=/bin/java -Xms3072m -Xmx3072m -jar /home/roboshop/shipping/shipping.jar
SyslogIdentifier=shipping

[Install]
WantedBy=multi-user.target